html,
body {
  height: 100%;
  background-color: #222d32;
}

h1 {
  font-weight: 900;
}

.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #48e248;
}

.login-form {
  width: 380px;
  height: auto;
  padding: 18px;
  background-color: #1a2226 !important;
  border-radius: 10px !important;
}

.register-form {
  width: 380px;
  height: 700px;
  padding: 20px;
  background-color: #1a2226 !important;
  border-radius: 10px !important;
}


/* input[type="number"] {
  background-color: #1a2226;
} */

.input-group-text {
  color: rgb(209, 205, 199);
  background-color: rgb(35, 38, 39);
  border-color: rgb(60, 65, 68);
}

.form-control {
  color: rgb(209, 205, 199);
  background-color: rgb(24, 26, 27);
  border-color: rgb(60, 65, 68);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background: #1a2226;
  color: #fff;
  border: 2px solid #00ff00;
  border-radius: 10px;
  /* margin-bottom: 25px; */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border: none;
  background: #1a2226;
  color: #fff;
  /* margin: 0; */
  margin-top: 4px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-title {
  font-weight: 900;
  padding-top: 30px;
}

.btn {
  background: #48e248 !important;
  color: #000 !important;
  font-size: 14px;
  border-radius: 10px;
}


.title-little {
  font-weight: 200;
  font-size: 13px;
}